
<div class="container">
    <div class="row my-5">
        <div class="col-4">
            <input type="text" class="form-control" placeholder="Search title..." [(ngModel)]="filters.keyword" (input)="changeKeyword($event)">
        </div>
        <div class="col-8" *ngIf="totalPages > 0">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-circle pg-blue">
                  <li class="page-item" [ngClass]="{'disabled': filters.page === 1}" (click)="changePage(1)"><a class="page-link" mdbWavesEffect>First</a></li>
                  
                  <li class="page-item" [ngClass]="{'disabled': filters.page === 1}" (click)="changePage(filters.page - 1)">
                    <a class="page-link" aria-label="Previous" mdbWavesEffect>
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>

                  <li class="page-item" (click)="changePage(page)" [ngClass]="{'active': page === filters.page}" *ngFor="let page of pages"><a class="page-link" mdbWavesEffect>{{ page }}</a></li>
                 
                  <li class="page-item" [ngClass]="{'disabled': filters.page === pages.length}" (click)="changePage(filters.page + 1)">
                    <a class="page-link" aria-label="Next" mdbWavesEffect>
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  <li class="page-item" (click)="changePage(pages.length)" [ngClass]="{'disabled': pages.length === filters.page}"><a class="page-link"  mdbWavesEffect>Last</a></li>
                </ul>
              </nav>
        </div>
    </div>
    <div class="row text-center" *ngIf="isLoading">
        <div class="col-12">
            <div class="spinner-border text-success" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3" *ngFor="let movie of movies">
            <mdb-card>
                <mdb-card-img src="{{ movie.image }}" alt="{{ movie.title }}"></mdb-card-img>
                <mdb-card-body>
                  <mdb-card-title>
                    <h4>{{ movie.title }}</h4>
                  </mdb-card-title>
                  <!-- <mdb-card-text></mdb-card-text> -->
                  <a [routerLink]="['/movies/details', movie.id]" href="#" mdbBtn color="primary" mdbWavesEffect>Details</a>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>

    <div class="row" *ngIf="!isLoading && movies.length === 0">
       <div class="col-12">
            <h3 class="text-center">No Movies Found</h3>
       </div>
    </div>

    <div class="row">
        <button class="btn btn-primary" *ngIf="canLoadMoreMovies">Load more</button>
    </div>
</div>