
<div class="container">
    <h2 class="my-3">All Movies</h2>
    <hr>
    <div class="row my-5">
        <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="Search title..." [(ngModel)]="filters.keyword" (input)="changeKeyword($event)">
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-3">
            <a routerLink="/movies/insert" class="btn btn-block btn-success">Create movie</a>
        </div>

        <div class="col-12 my-3" *ngIf="pagination.totalPages > 0">
            <app-my-pagination 
                [pagination]="pagination" 
                (onChangePage)="changePage($event)"></app-my-pagination>
        </div>

        <div class="col-12 my-3">
            {{ totalMovies }} movies found
        </div>
    </div>

    <div class="row text-center" *ngIf="isLoading">
        <div class="col-12">
            <app-my-loader></app-my-loader>
        </div>
    </div>

    <div class="row" *ngIf="!isLoading">
        <div class="col-lg-2 col-md-3 col-sm-4 mb-3" *ngFor="let movie of movies">
            <mdb-card>
                <mdb-card-img src="{{ movie.image }}" alt="{{ movie.title }}"></mdb-card-img>
                <mdb-card-body>
                  <mdb-card-title>
                    <h4 style="font-size: 1em;">{{ movie.title }}</h4>
                  </mdb-card-title>
                  <!-- <mdb-card-text></mdb-card-text> -->
                  <a [routerLink]="['/movies/details', movie.id]" 
                    href="#" mdbBtn color="primary" class="float-right btn-custom" mdbWavesEffect>Details</a>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>

    <div class="row" *ngIf="!isLoading && movies.length === 0">
       <div class="col-12">
            <app-notfound [message]="'No Movies Found'"></app-notfound>
       </div>
    </div>
</div>