USE [master]
GO
/****** Object:  Database [movieReview]    Script Date: 2/3/2020 8:44:07 PM ******/
CREATE DATABASE [movieReview]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mobileReview', FILENAME = N'C:\Program Files\Microsoft SQL Server 2017\MSSQL14.SQLEXPRESS\MSSQL\DATA\mobileReview.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mobileReview_log', FILENAME = N'C:\Program Files\Microsoft SQL Server 2017\MSSQL14.SQLEXPRESS\MSSQL\DATA\mobileReview_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [movieReview].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [movieReview]
GO
/****** Object:  Table [dbo].[movie]    Script Date: 2/3/2020 8:44:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[startDate] [datetime] NULL,
	[image] [nvarchar](max) NULL,
	[categories] [nvarchar](max) NULL,
	[actors] [nvarchar](max) NULL,
	[directors] [nvarchar](max) NULL,
 CONSTRAINT [PK_film] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review]    Script Date: 2/3/2020 8:44:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movieId] [int] NOT NULL,
	[content] [nvarchar](max) NULL,
	[reviewerName] [nvarchar](max) NULL,
 CONSTRAINT [PK_review] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2/3/2020 8:44:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](max) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[movie] ON 

INSERT [dbo].[movie] ([id], [title], [description], [startDate], [image], [categories], [actors], [directors]) VALUES (2, N'1917', N'At the height of the First World War, two young British soldiers, Schofield and Blake are given a seemingly impossible mission. In a race against time, they must cross enemy territory and deliver a message that will stop a deadly attack on hundreds of soldiers—Blake''s own brother among them.', CAST(N'2019-12-10T00:00:00.000' AS DateTime), N'https://image.tmdb.org/t/p/w500/iZf0KyrE25z1sage4SYFLCCrMi9.jpg', N'Drama, History, War', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[movie] OFF
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK_review_movie] FOREIGN KEY([movieId])
REFERENCES [dbo].[movie] ([id])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK_review_movie]
GO
USE [master]
GO
